.zhuDIV{width: 1000px;height: 200px;margin: 0 auto;margin-top: 10px;border:1px solid white;}
.gundong{width: 198px;height: 196px;border: 1px solid #DCDCDC ;margin-left: 800px;margin-top: -200px;overflow:hidden}
.neirong{background-color:#E1F4FE ;width: 998px;height: 500px;border: 1px solid white ;margin: 0 auto;}
.ul{list-style: none;margin-top: 5px;float: left;}
.ul:HOVER{cursor: pointer;}
.ul li{width: 300px;height: 88px;border: 1px solid #0099FF;margin-top: 5px;}

.ul2{list-style: none;margin-top: 5px;float: left;}
.ul2:HOVER{cursor: pointer;}
.ul2 li{width: 300px;height: 88px;border: 1px solid #0099FF;margin-left: -20px;margin-top: 5px;}

.ul3{list-style: none;margin-top: 5px;float: left;}
.ul3:HOVER{cursor: pointer;}
.ul3 li{width: 300px;height: 88px;border: 1px solid #0099FF;margin-left: -20px;margin-top: 5px;}


.ziyi{width: 1000px;height: 600px;margin: 0 auto;margin-top: 60px;}
.zier{width: 1000px;height: 600px;margin: 0 auto;margin-top: 60px;}
.zisan{width: 1000px;height: 500px;margin: 0 auto;margin-top: 60px;}
.zisi{width: 1000px;height: 1300px;margin: 0 auto;margin-top: 60px;}
.ziwu{width: 1000px;height: 950px;margin: 0 auto;margin-top: 60px;}
.ziliu{width: 1000px;height: 1250px;margin: 0 auto;margin-top: 60px;}
.ziqi{width: 1000px;height: 500px;margin: 0 auto;margin-top: 60px;}
.ziba{width: 1000px;height: 500px;margin: 0 auto;margin-top: 60px;}
.zijiu{width: 1000px;height: 1300px;margin: 0 auto;margin-top: 60px;}
.zishi{width: 1000px;height: 600px;margin: 0 auto;margin-top: 60px;}




