.z1{width: 1000px;height: 160px;border: 1px solid #CCCCCC;margin: 0 auto;font-size: 12px;}
.z2 ul{float: left;}
.z3{margin-left: 30px;}
.z4{margin-left: 50px;}
ul{list-style: none;}
.z2 div:hover{color: red;}
.z5{width: 1000px;height: 150px;margin: 0 auto;font-size: 15px;}
.lianxi{width: 500px;height: 30px;margin: 0 auto;margin-top: 20px;font-size: 12px;}
.lianxi2{width: 1000px;height: 30px;margin: 0 auto;font-size: 15px;}